In [2]:
# import helper
import pandas as pd
import matplotlib as mplt
import numpy as np
import seaborn as sb
import sklearn as skl
import yfinance as yf

In [19]:
gscpi_index_df = pd.read_csv("C:\\Users\\millen11\\Dropbox\\PC\\Documents\\academia\\rpi\\classes\\fall23\\introToML\\introToMLapps\\project\\dataset\\gscpi_data.csv")
display(gscpi_index_df)

world_indices_page = pd.read_html("https://finance.yahoo.com/world-indices/")
world_indices = world_indices_page[0]
market_indices = {}
for index in world_indices.Symbol:
  market_index_df = helper.create_market_data(index)
  market_indices[index] = market_index_df
print(market_indices)

,Date,GSCPI,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NEW YORK FED ECONOMIC RESEARCH,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,https://www.newyorkfed.org/research,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31-Jan-1998,-0.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
308,31-May-2023,-1.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,30-Jun-2023,-1.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,31-Jul-2023,-0.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,31-Aug-2023,-1.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,30-Sep-2023,-0.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
ecpi_m_df = pd.read_csv("C:\\Users\\millen11\\Dropbox\\PC\\Documents\\academia\\rpi\\classes\\fall23\\introToML\\introToMLapps\\project\\dataset\\ecpi_montly.csv")
display(ecpi_m_df)

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,197001,197002,197003,197004,197005,...,Unnamed: 1258,Unnamed: 1259,Unnamed: 1260,Unnamed: 1261,Unnamed: 1262,Unnamed: 1263,Unnamed: 1264,Unnamed: 1265,Unnamed: 1266,Unnamed: 1267
0,ABW,314.0,Aruba,Index,Energy Price Index,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALB,914.0,Albania,Index,Energy Price Index,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ARE,466.0,United Arab Emirates,Index,Energy Price Index,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ARG,213.0,Argentina,Index,Energy Price Index,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARM,911.0,Armenia,Index,Energy Price Index,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,ZWE,698.0,Zimbabwe,Index,Energy Price Index,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,"Note: ""CPI"" indicates IMF Consumer Price Inde...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
ccpi_m_df = pd.read_csv("C:\\Users\\millen11\\Dropbox\\PC\\Documents\\academia\\rpi\\classes\\fall23\\introToML\\introToMLapps\\project\\dataset\\ccpi_monthly.csv")
display(ccpi_m_df)

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,197001,197002,197003,197004,197005,...,Base date,Note,Note.1,Unnamed: 649,Unnamed: 650,Unnamed: 651,Unnamed: 652,Unnamed: 653,Unnamed: 654,Unnamed: 655
0,ALB,914.0,Albania,Index,Official Core Consumer Price Index,NaN,NaN,NaN,NaN,NaN,...,2015,All Items Excluding unprocessed food and energy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AUT,122.0,Austria,Index,Official Core Consumer Price Index,21.1,21.2,21.3,21.4,21.5,...,2015,All Items Excluding Food and Energy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BEL,124.0,Belgium,Index,Official Core Consumer Price Index,NaN,NaN,NaN,NaN,NaN,...,2015,All Items Excluding Food and Energy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BGR,918.0,Bulgaria,Index,Official Core Consumer Price Index,NaN,NaN,NaN,NaN,NaN,...,2015,All Items Excluding unprocessed food and energy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BLR,913.0,Belarus,Index,Official Core Consumer Price Index,NaN,NaN,NaN,NaN,NaN,...,2010,All Items Excluding Food and Energy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
epsi_y_df = pd.read_csv("C:\\Users\\millen11\\Dropbox\\PC\\Documents\\academia\\rpi\\classes\\fall23\\introToML\\introToMLapps\\project\\dataset\\epsi.csv")
epsi_y_df = epsi_y_df.drop(columns = ["VAR","Variable","YEA","Unit Code", "Unit","PowerCode Code","PowerCode", "Reference Period Code", "Reference Period","Flag Codes", "Flags"])
display(epsi_y_df)
print(len(epsi_y_df["Country"].unique()))
print(len(ccpi_m_df["Country"].unique()))

       COU       Country  Year  Value
0      GRC        Greece  1990    1.0
1      GRC        Greece  1991    1.0
2      GRC        Greece  1992    1.0
3      GRC        Greece  1993    1.0
4      GRC        Greece  1994    1.0
...    ...           ...   ...    ...
17386  ZAF  South Africa  2016    0.0
17387  ZAF  South Africa  2017    0.0
17388  ZAF  South Africa  2018    0.0
17389  ZAF  South Africa  2019    0.0
17390  ZAF  South Africa  2020    0.0

[17391 rows x 4 columns]

33
84

In [ ]:
# high_impact_times = helper.get_impactful_events()