In [2]:
# import helper
import pandas as pd
import matplotlib as mplt
import numpy as np
import seaborn as sb
import sklearn as skl
import yfinance as yf

In [19]:
gscpi_index_df = pd.read_csv("C:\\Users\\millen11\\Dropbox\\PC\\Documents\\academia\\rpi\\classes\\fall23\\introToML\\introToMLapps\\project\\dataset\\gscpi_data.csv")
display(gscpi_index_df)


# world_indices_page = pd.read_html("https://finance.yahoo.com/world-indices/")
# world_indices = world_indices_page[0]
# market_indices = {}
# for index in world_indices.Symbol:
#   market_index_df = helper.create_market_data(index)
#   market_indices[index] = market_index_df
# print(market_indices)

,Date,GSCPI,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NEW YORK FED ECONOMIC RESEARCH,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,https://www.newyorkfed.org/research,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31-Jan-1998,-0.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
308,31-May-2023,-1.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,30-Jun-2023,-1.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,31-Jul-2023,-0.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,31-Aug-2023,-1.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,30-Sep-2023,-0.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
ecpi_m_df = pd.read_csv("C:\\Users\\millen11\\Dropbox\\PC\\Documents\\academia\\rpi\\classes\\fall23\\introToML\\introToMLapps\\project\\dataset\\ecpi__data.csv")
display(ecpi_m_df)

,Date,GSCPI,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NEW YORK FED ECONOMIC RESEARCH,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,https://www.newyorkfed.org/research,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31-Jan-1998,-0.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
308,31-May-2023,-1.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,30-Jun-2023,-1.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,31-Jul-2023,-0.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,31-Aug-2023,-1.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,30-Sep-2023,-0.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# high_impact_times = helper.get_impactful_events()