In [6]:
import pandas as pd

In [11]:
path = "C:\\Users\\millen11\\Dropbox\\PC\\Documents\\academia\\rpi\\classes\\fall23\\introToML\\"
ps_df = pd.read_csv(path + "global_socieoeconomic_df.csv")
display(ps_df)

,Open,High,Low,Close,Volume,Change In Price (%),ECPI,CCPI,GSCPI,EPSI,...,"Country_Taiwan, China","Country_Tanzania, United Rep.",Country_Thailand,Country_Trinidad and Tobago,Country_Turkey,Country_TÃ¼rkiye,Country_Uganda,Country_Ukraine,Country_United Kingdom,Country_United States
0,3129.573975,3130.112061,3101.756104,3109.104980,101200,-0.654050,93.8,90.2,0.39,2.725238,...,False,False,False,False,False,False,False,False,False,False
1,3129.573975,3130.112061,3101.756104,3109.104980,101200,-0.654050,92.1,91.6,0.39,2.701171,...,False,False,False,False,False,False,False,False,False,False
2,3129.573975,3130.112061,3101.756104,3109.104980,101200,-0.654050,12.4,98.5,0.39,2.633433,...,False,False,False,False,False,False,False,False,False,False
3,3129.573975,3130.112061,3101.756104,3109.104980,101200,-0.654050,90.0,91.9,0.39,2.588454,...,False,False,False,False,False,False,False,False,False,False
4,3129.573975,3130.112061,3101.756104,3109.104980,101200,-0.654050,104.4,101.4,0.39,3.141094,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377849,2007.459961,2016.790039,2006.040039,2012.199951,45498400,0.236119,137.9,121.9,1.78,2.613156,...,False,False,False,False,False,False,True,False,False,False
377850,2007.459961,2016.790039,2006.040039,2012.199951,45498400,0.236119,697.0,308.3,1.78,2.614502,...,False,False,False,False,False,False,False,True,False,False
377851,2007.459961,2016.790039,2006.040039,2012.199951,45498400,0.236119,160.4,122.0,1.78,2.468536,...,False,False,False,False,False,False,False,False,False,True
377852,2007.459961,2016.790039,2006.040039,2012.199951,45498400,0.236119,112.2,121.1,1.78,2.607859,...,False,False,False,False,False,False,False,False,False,False
377853,2007.459961,2016.790039,2006.040039,2012.199951,45498400,0.236119,202.8,134.1,1.78,1.628675,...,False,False,False,False,False,False,False,False,False,False

In [19]:
#PS1: Do external factors affect the stock market, if so, how much is performance affected?
covid_df = pd.read_csv(path + "covid_df.csv")
covid_df = covid_df.drop(columns = ["Unnamed: 0"])
display(covid_df)

mean_price_change_covid_df = covid_df["Change In Price (%)"].mean()
# print(mean_price_change_covid_df)

non_covid_df = pd.read_csv(path + "non_covid_df.csv")
non_covid_df = non_covid_df.drop(columns = ["Unnamed: 0"])
display(non_covid_df)
mean_price_change_nonCovid_df = non_covid_df["Change In Price (%)"].mean()
# print(mean_price_change_nonCovid_df)

russia_ukraine_df = pd.read_csv(path + "russia_ukraine_df.csv")
russia_ukraine_df = russia_ukraine_df.drop(columns = ["Unnamed: 0"])
display(russia_ukraine_df)

mean_price_change_ru_df = russia_ukraine_df["Change In Price (%)"].mean()
# print(mean_price_change_ru_df)

non_russia_ukraine_df = pd.read_csv(path + "non_russia_ukraine_df.csv")
non_russia_ukraine_df = non_russia_ukraine_df.drop(columns = ["Unnamed: 0"])
display(non_russia_ukraine_df)
mean_price_change_nonRU_df = non_russia_ukraine_df["Change In Price (%)"].mean()
# print(mean_price_change_nonRU_df)

,Country,Date,ECPI,CCPI,GSCPI,EPSI,Open,High,Low,Close,Volume,Region,Change In Price (%),Month,Day of Week
0,Greece,2020-01-31,105.7,98.9,0.09,6.000000,3133.399902,3143.290039,3076.649902,3076.649902,0,NaN,-1.811132,Jan,Friday
1,Greece,2020-01-31,105.7,98.9,0.09,6.000000,7108.600098,7147.600098,7108.600098,7121.200195,1011496700,NaN,0.177251,Jan,Friday
2,Greece,2020-01-31,105.7,98.9,0.09,6.000000,7008.399902,7046.700195,7008.399902,7017.200195,756400,ASEAN & Oceania,0.125568,Jan,Friday
3,Greece,2020-01-31,105.7,98.9,0.09,6.000000,3938.800049,3952.530029,3901.580078,3907.610107,26161100,Europe,-0.791864,Jan,Friday
4,Greece,2020-01-31,105.7,98.9,0.09,6.000000,41146.558594,41154.488281,40671.011719,40723.488281,11500,South & West Asia,-1.028203,Jan,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87774,South Africa,2023-03-31,186.5,138.7,-1.18,1.639814,1775.050049,1802.699951,1775.050049,1802.479980,4525120000,US & Canada,1.545305,Mar,Friday
87775,South Africa,2023-03-31,186.5,138.7,-1.18,1.639814,3265.010010,3273.469971,3255.590088,3258.899902,333549200,ASEAN & Oceania,-0.187139,Mar,Friday
87776,South Africa,2023-03-31,186.5,138.7,-1.18,1.639814,4285.839844,4325.339844,4278.310059,4315.049805,36312200,Europe,0.681546,Mar,Friday
87777,South Africa,2023-03-31,186.5,138.7,-1.18,1.639814,15874.190430,15951.799805,15857.190430,15868.059570,2440300,East Asia,-0.038622,Mar,Friday
87778,South Africa,2023-03-31,186.5,138.7,-1.18,1.639814,19.209999,19.430000,18.520000,18.700001,0,NaN,-2.654859,Mar,Friday

,Country,Date,ECPI,CCPI,GSCPI,EPSI,Open,High,Low,Close,Volume,Region,Change In Price (%),Month,Day of Week
0,Greece,2011-01-31,89.5,102.8,0.81,6.000000,2751.527100,2790.920898,2748.538086,2790.694092,91600,East Asia,1.423464,Jan,Monday
1,Greece,2011-01-31,89.5,102.8,0.81,6.000000,11884.207285,12020.375688,11820.068352,11994.545898,62000,East Asia,0.928447,Jan,Monday
2,Greece,2011-01-31,89.5,102.8,0.81,6.000000,4857.600098,4857.600098,4816.100098,4850.000000,990059600,NaN,-0.156458,Jan,Monday
3,Greece,2011-01-31,89.5,102.8,0.81,6.000000,4757.899902,4758.100098,4717.600098,4753.899902,0,ASEAN & Oceania,-0.084071,Jan,Monday
4,Greece,2011-01-31,89.5,102.8,0.81,6.000000,2636.649902,2649.939941,2621.530029,2638.699951,27563000,Europe,0.077752,Jan,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306590,South Africa,2019-10-31,135.1,120.6,0.09,1.663302,3217.600098,3235.239990,3213.459961,3229.879883,302617400,ASEAN & Oceania,0.381644,Oct,Thursday
306591,South Africa,2019-10-31,135.1,120.6,0.09,1.663302,3625.360107,3631.870117,3593.600098,3604.409912,44941700,Europe,-0.577879,Oct,Thursday
306592,South Africa,2019-10-31,135.1,120.6,0.09,1.663302,1577.239990,1584.810059,1571.770020,1577.969971,83413300,South & West Asia,0.046282,Oct,Thursday
306593,South Africa,2019-10-31,135.1,120.6,0.09,1.663302,11393.679688,11428.419922,11358.709961,11358.709961,2507400,East Asia,-0.306922,Oct,Thursday
306594,South Africa,2019-10-31,135.1,120.6,0.09,1.663302,13.510000,13.950000,13.180000,13.220000,0,NaN,-2.146558,Oct,Thursday

,Country,Date,ECPI,CCPI,GSCPI,EPSI,Open,High,Low,Close,Volume,Region,Change In Price (%),Month,Day of Week
0,Albania,2022-02-28,113.2,103.1,2.74,2.646495,3450.320068,3462.310059,3425.520020,3462.310059,345800,East Asia,0.347504,Feb,Monday
1,Albania,2022-02-28,113.2,103.1,2.74,2.646495,13397.929688,13457.610352,13279.320312,13455.730469,1246000,East Asia,0.431416,Feb,Monday
2,Albania,2022-02-28,113.2,103.1,2.74,2.646495,7273.700195,7323.700195,7249.399902,7323.200195,1454099500,NaN,0.680534,Feb,Monday
3,Albania,2022-02-28,113.2,103.1,2.74,2.646495,7022.200195,7049.600098,6979.399902,7049.100098,1007600,ASEAN & Oceania,0.383069,Feb,Monday
4,Albania,2022-02-28,113.2,103.1,2.74,2.646495,3983.610107,4019.419922,3974.669922,4014.020020,21400,Europe,0.763376,Feb,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28290,South Africa,2023-03-31,186.5,138.7,-1.18,1.639814,1775.050049,1802.699951,1775.050049,1802.479980,4525120000,US & Canada,1.545305,Mar,Friday
28291,South Africa,2023-03-31,186.5,138.7,-1.18,1.639814,3265.010010,3273.469971,3255.590088,3258.899902,333549200,ASEAN & Oceania,-0.187139,Mar,Friday
28292,South Africa,2023-03-31,186.5,138.7,-1.18,1.639814,4285.839844,4325.339844,4278.310059,4315.049805,36312200,Europe,0.681546,Mar,Friday
28293,South Africa,2023-03-31,186.5,138.7,-1.18,1.639814,15874.190430,15951.799805,15857.190430,15868.059570,2440300,East Asia,-0.038622,Mar,Friday
28294,South Africa,2023-03-31,186.5,138.7,-1.18,1.639814,19.209999,19.430000,18.520000,18.700001,0,NaN,-2.654859,Mar,Friday

,Country,Date,ECPI,CCPI,GSCPI,EPSI,Open,High,Low,Close,Volume,Region,Change In Price (%),Month,Day of Week
0,Greece,2011-01-31,89.5,102.8,0.81,6.000000,2751.527100,2790.920898,2748.538086,2790.694092,91600,East Asia,1.423464,Jan,Monday
1,Greece,2011-01-31,89.5,102.8,0.81,6.000000,11884.207285,12020.375688,11820.068352,11994.545898,62000,East Asia,0.928447,Jan,Monday
2,Greece,2011-01-31,89.5,102.8,0.81,6.000000,4857.600098,4857.600098,4816.100098,4850.000000,990059600,NaN,-0.156458,Jan,Monday
3,Greece,2011-01-31,89.5,102.8,0.81,6.000000,4757.899902,4758.100098,4717.600098,4753.899902,0,ASEAN & Oceania,-0.084071,Jan,Monday
4,Greece,2011-01-31,89.5,102.8,0.81,6.000000,2636.649902,2649.939941,2621.530029,2638.699951,27563000,Europe,0.077752,Jan,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366074,South Africa,2022-01-31,163.1,129.7,3.59,1.633637,1968.089966,2028.449951,1960.109985,2028.449951,5098610000,US & Canada,3.066932,Jan,Monday
366075,South Africa,2022-01-31,163.1,129.7,3.59,1.633637,3250.550049,3276.310059,3245.669922,3249.590088,192341700,ASEAN & Oceania,-0.029532,Jan,Monday
366076,South Africa,2022-01-31,163.1,129.7,3.59,1.633637,4161.770020,4200.830078,4134.069824,4174.600098,39621200,Europe,0.308284,Jan,Monday
366077,South Africa,2022-01-31,163.1,129.7,3.59,1.633637,2033.469971,2040.489990,2000.390015,2029.479980,93521700,South & West Asia,-0.196216,Jan,Monday
366078,South Africa,2022-01-31,163.1,129.7,3.59,1.633637,28.360001,29.410000,24.709999,24.830000,0,NaN,-12.447111,Jan,Monday

In [21]:
print("COVID Change in Price: {:.2f}", mean_price_change_covid_df * 100)
print("NON-COVID Change in Price: {:.2f}", mean_price_change_nonCovid_df * 100)
print("Russia-Ukraine War Change in Price: {:.2f}", mean_price_change_ru_df * 100)
print("Non-Russia-Ukraine War Change in Price: {:.2f}",mean_price_change_nonRU_df * 100)

COVID Change in Price: {:.2f} -27.686875076621686
NON-COVID Change in Price: {:.2f} 1.7503421597832862
Russia-Ukraine War Change in Price: {:.2f} -18.38060365371628
Non-Russia-Ukraine War Change in Price: {:.2f} -3.7521979476837384

In [22]:
'''
As displayed by the above changes in price, the market is clearly affected by external factors--in this case COVID and/or the Russia-Ukraine War.
In fact, it seems the daily return is affected at least 14 percent in these times.
'''

'\nAs displayed by the above changes in price, the market is clearly affected by external factors--in this case COVID and/or the Russia-Ukraine War.\nIn fact, it seems the daily return is affected at least 14 percent in these times.\n'

In [3]:
'''
Model Selection:
  Models to be tested and/or selected--
  2. Gradient Boosting Classifier
  3. LightGBM
  4. RandomForest Classifier
  5. MLP Classifier
'''
#Model imports
from lightgbm import LGBMClassifier
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier

In [ ]:
def evaluate_model(y_test, y_pred): #Gives evaluation metrics for model
  acc_score = accuracy_score(y_test, y_pred)
  print("Accuracy Score: {:.2f}", acc_score)

In [ ]:
#LightGBM Classifier

In [ ]:
#Linear Classifier

In [ ]:
#Gradient Boosting Classifier

In [ ]:
#Random Forest Classifier

In [ ]:
#MLP Classifier