In [14]:
#Imports
import glob
import os
import pandas as pd

In [4]:
#Global path
pre_path = "C:\\Users\\millen11\\Dropbox\\PC\\Documents\\academia\\rpi\\classes\\fall23\\introToML\\introToMLapps\\project\\dataset\\cleaned\\"

In [5]:
#Replacing Year column with Date for EPSI
epsi_df = pd.read_csv(pre_path + "epsi_df.csv")
# epsi_df["Date"] = epsi_df["Year"].apply(lambda year: str(year) + "-01-31")
# epsi_df = epsi_df.drop(columns=["Unnamed: 0"])
display(epsi_df)
# epsi_df.to_csv("epsi_df.csv", index = False)

            Country  EPSI        Date
0            Greece   1.0  1990-01-31
1            Greece   1.0  1991-01-31
2            Greece   1.0  1992-01-31
3            Greece   1.0  1993-01-31
4            Greece   1.0  1994-01-31
...             ...   ...         ...
17386  South Africa   0.0  2016-01-31
17387  South Africa   0.0  2017-01-31
17388  South Africa   0.0  2018-01-31
17389  South Africa   0.0  2019-01-31
17390  South Africa   0.0  2020-01-31

[17391 rows x 3 columns]

In [15]:
#Remove all datapoints from before 2010
epsi_df['Date'] = pd.to_datetime(epsi_df['Date'])
epsi_df = epsi_df[epsi_df["Date"].dt.year >= 2010]
display(epsi_df)

            Country  EPSI       Date
20           Greece   6.0 2010-01-31
21           Greece   6.0 2011-01-31
22           Greece   6.0 2012-01-31
23           Greece   6.0 2013-01-31
24           Greece   6.0 2014-01-31
...             ...   ...        ...
17386  South Africa   0.0 2016-01-31
17387  South Africa   0.0 2017-01-31
17388  South Africa   0.0 2018-01-31
17389  South Africa   0.0 2019-01-31
17390  South Africa   0.0 2020-01-31

[6171 rows x 3 columns]

In [16]:
epsi_df.to_csv(pre_path + "epsi_df.csv", index = False)

In [ ]:
#Read in external facing indices
ecpi_df = pd.read_csv(pre_path + "ecpi_df.csv")
ccpi_df = pd.read_csv(pre_path + "ccpi_df.csv")
epsi_df = pd.read_csv(pre_path + "epsi_df.csv")
gscpi_df = pd.read_csv(pre_path + "gscpi_df.csv")

#Merge ecpi and ccpi
ecpi_ccpi_df = pd.merge(ecpi_df, ccpi_df, on = ["Date","Country"], how = "inner")
display(ecpi_ccpi_df)
epsi_ecpi_ccpi_df = pd.merge(epsi_df, ecpi_ccpi_df, on = ["Date","Country"], how = "inner")
display(epsi_ecpi_ccpi_df)

# epsi_ecpi_ccpi_df["EPSI"] = epsi_ecpi_ccpi_df['EPSI'].interpolate(method='linear')
# epsi_ecpi_ccpi_df["CCPI"] = epsi_ecpi_ccpi_df['CCPI'].interpolate(method='linear')
# epsi_ecpi_ccpi_df["ECPI"] = epsi_ecpi_ccpi_df['ECPI'].interpolate(method='linear')


# environmental_indices_df = pd.merge(epsi_ecpi_ccpi_df, gscpi_df, on = ["Date"], how = "outer")
# environmental_indices_df["GSCPI"] = environmental_indices_df["GSCPI"].interpolate(method="linear")
# display(environmental_indices_df)

In [ ]:
#Initializing variables and Data
path_to_indices = "C:\\Users\\millen11\\Dropbox\\PC\\Documents\\academia\\rpi\\classes\\fall23\\introToML\\introToMLapps\\project\\dataset\\cleaned\\market_indices"
file_pattern = "*.csv"
file_paths = glob.glob(os.path.join(path_to_indices, file_pattern))

for file_path in file_paths:
  with open(file_path, "r") as file:
    index_df = pd.read_csv(file_path) #Current market index i.e. S&P500