In [1]:
# import glob
# import os
# import pandas as pd

In [2]:
# #Initializing variables and Data
# path_to_indices = "C:\\Users\\millen11\\Dropbox\\PC\\Documents\\academia\\rpi\\classes\\fall23\\introToML\\introToMLapps\\project\\dataset\\cleaned\\market_indices"
# file_pattern = "*.csv"
# file_paths = glob.glob(os.path.join(path_to_indices, file_pattern))

# indices = [] #All of the market indices
# for file_path in file_paths:
#   with open(file_path, "r") as file:
#     index_df = pd.read_csv(file_path) #Current market index i.e. S&P500
#     indices.append(index_df)
# print(len(indices))

36

In [3]:
# for market_index in range(len(indices)): #Change unnamed column to Date
#   indices[market_index] = indices[market_index].rename(columns = {"Unnamed: 0": "Date"})
# # for market in indices:
# #   display(market)

In [4]:
# #Merge every market index
# main_market = indices[0]
# for market_index in range(1, len(indices) - 1):
#   main_market = pd.concat([main_market, indices[market_index]], axis = 0)

# display(main_market.loc[main_market["Date"] == "2010-01-04"]) #Example of a day's performance, globally
# display(main_market) #Global perfomance of the stock market from 2010 to 2023

,Date,Open,High,Low,Close,Volume,Region,Change In Price (%),Month,Day of Week
0,2010-01-04,3289.750000,3295.279053,3243.319092,3243.760010,109400,East Asia,-1.397978,Jan,Monday
0,2010-01-04,13765.944648,13782.654421,13533.387695,13533.387695,67100,East Asia,-1.689364,Jan,Monday
0,2010-01-04,4877.700195,4901.100098,4876.299805,4889.799805,596439900,NaN,0.248060,Jan,Monday
0,2010-01-04,4864.899902,4888.700195,4862.299805,4876.299805,0,ASEAN & Oceania,0.234330,Jan,Monday
0,2010-01-04,2521.729980,2563.969971,2521.729980,2563.969971,19760000,Europe,1.675040,Jan,Monday
0,2010-01-04,17473.449219,17582.839844,17378.380859,17558.730469,28200,South & West Asia,0.488062,Jan,Monday
0,2010-01-04,68587.000000,70081.000000,68587.000000,70045.000000,1655400,Latin America,2.125767,Jan,Monday
0,2010-01-04,10430.690430,10604.969727,10430.690430,10583.959961,179780000,US & Canada,1.469409,Jan,Monday
0,2010-01-04,3952.209961,4013.969971,3950.610107,4013.969971,113396000,Europe,1.562670,Jan,Monday
0,2010-01-04,5412.899902,5500.299805,5410.799805,5500.299805,750942000,Europe,1.614659,Jan,Monday
0,2010-01-04,5975.520020,6048.299805,5974.430176,6048.299805,104344400,Europe,1.217966,Jan,Monday
0,2010-01-04,1116.560059,1133.869995,1116.560059,1132.989990,3991400000,US & Canada,1.471478,Jan,Monday
0,2010-01-04,11847.299805,11872.200195,11746.099609,11866.900391,132670500,US & Canada,0.165443,Jan,Monday
0,2010-01-04,21860.039062,22024.830078,21689.220703,21823.279297,1006199600,East Asia,-0.168160,Jan,Monday
0,2010-01-04,3581.419922,3624.340088,3566.870117,3620.699951,0,Latin America,1.096773,Jan,Monday
0,2010-01-04,2294.409912,2311.149902,2294.409912,2308.419922,1931380000,US & Canada,0.610615,Jan,Monday
0,2010-01-04,2533.947998,2576.055908,2532.895996,2575.413086,18339300,ASEAN & Oceania,1.636383,Jan,Monday
0,2010-01-04,1272.310059,1275.750000,1272.250000,1275.750000,56508200,ASEAN & Oceania,0.270370,Jan,Monday
0,2010-01-04,1681.709961,1696.140015,1681.709961,1696.140015,296500,East Asia,0.858058,Jan,Monday
0,2010-01-04,2329.800049,2393.600098,2329.800049,2384.500000,0,NaN,2.347839,Jan,Monday
0,2010-01-04,32120.740234,32758.529297,32120.740234,32758.529297,136257800,Latin America,1.985599,Jan,Monday
0,2010-01-04,686.369995,696.989990,686.369995,696.989990,237559300,Europe,1.547270,Jan,Monday
0,2010-01-04,10609.339844,10694.490234,10608.139648,10654.790039,104400000,East Asia,0.428398,Jan,Monday
0,2010-01-04,7184.979980,7331.120117,7184.979980,7326.740234,3991400000,NaN,1.973008,Jan,Monday
0,2010-01-04,628.109985,640.099976,628.109985,640.099976,3991400000,US & Canada,1.908900,Jan,Monday
0,2010-01-04,2897.620117,2897.620117,2886.429932,2894.550049,0,ASEAN & Oceania,-0.105951,Jan,Monday
0,2010-01-04,2974.860107,3017.800049,2974.860107,3017.800049,0,Europe,1.443427,Jan,Monday
0,2010-01-04,1085.270020,1091.380005,1085.239990,1089.339966,0,South & West Asia,0.375017,Jan,Monday
0,2010-01-04,8222.387638,8240.417841,8143.418222,8207.817383,6429400,East Asia,-0.177202,Jan,Monday
0,2010-01-04,21.680000,21.680000,20.030001,20.040001,0,NaN,-7.564573,Jan,Monday

,Date,Open,High,Low,Close,Volume,Region,Change In Price (%),Month,Day of Week
0,2010-01-04,3289.750000,3295.279053,3243.319092,3243.760010,109400,East Asia,-1.397978,Jan,Monday
1,2010-01-05,3254.468018,3290.511963,3221.461914,3282.178955,126200,East Asia,0.851474,Jan,Tuesday
2,2010-01-06,3277.517090,3295.867920,3253.043945,3254.215088,123600,East Asia,-0.710965,Jan,Wednesday
3,2010-01-07,3253.990967,3268.819092,3176.707031,3192.775879,128600,East Asia,-1.881231,Jan,Thursday
4,2010-01-08,3177.259033,3198.919922,3149.017090,3195.997070,98400,East Asia,0.589755,Jan,Friday
...,...,...,...,...,...,...,...,...,...,...
3496,2023-11-22,13.080000,13.250000,12.820000,12.850000,0,NaN,-1.758406,Nov,Wednesday
3497,2023-11-24,13.030000,13.170000,12.450000,12.460000,0,NaN,-4.374518,Nov,Friday
3498,2023-11-27,13.140000,13.280000,12.640000,12.690000,0,NaN,-3.424663,Nov,Monday
3499,2023-11-28,12.780000,14.300000,12.560000,12.690000,0,NaN,-0.704227,Nov,Tuesday
3500,2023-11-29,12.710000,13.080000,12.480000,12.890000,0,NaN,1.416210,Nov,Wednesday

In [5]:
#One-hot encoding the global peformance for later analysis
# main_market_encoded = pd.get_dummies(main_market)
# main_market_encoded = main_market_encoded.reset_index(drop = True)
# display(main_market_encoded)

In [6]:
# pre_path = "C:\\Users\\millen11\\Dropbox\\PC\\Documents\\academia\\rpi\\classes\\fall23\\introToML\\"
# # main_market_encoded.to_csv(pre_path + "market_indices.csv", index = False)
# main_market.to_csv(pre_path + "market_indices.csv", index = False)