In [1]:
import pandas as pd

In [4]:
#Read in data
pre_path = "C:\\Users\\millen11\\Dropbox\\PC\\Documents\\academia\\rpi\\classes\\fall23\\introToML\\introToMLapps\\project\\dataset\\cleaned\\"
market_path = "C:\\Users\\millen11\\Dropbox\\PC\\Documents\\academia\\rpi\\classes\\fall23\\introToML\\"

external_indices_df = pd.read_csv(pre_path + "external_indices.csv")
display(external_indices_df)
global_market_df = pd.read_csv(market_path + "market_indices.csv")
display(global_market_df)

             Country        Date   ECPI   CCPI  GSCPI      EPSI
0             Greece  2010-01-31   68.3   99.6  -0.30  6.000000
1             Greece  2010-01-31   68.3   99.6  -0.30  0.000000
2             Greece  2010-01-31   68.3   99.6  -0.30  2.000000
3             Greece  2010-01-31   68.3   99.6  -0.30  2.611111
4             Greece  2010-01-31   68.3   99.6  -0.30  5.000000
...              ...         ...    ...    ...    ...       ...
17620         Uganda  2023-03-31  132.0  126.7  -1.18  2.624270
17621         Uganda  2023-03-31  132.0  126.1  -1.18  2.624270
17622        Ukraine  2023-03-31  713.9  341.8  -1.18  2.625564
17623  United States  2023-03-31  137.6  126.1  -1.18  2.479690
17624   South Africa  2023-03-31  186.5  138.7  -1.18  1.639814

[17625 rows x 6 columns]

,Open,High,Low,Close,Volume,Change In Price (%),Date_2010-01-04,Date_2010-01-05,Date_2010-01-06,Date_2010-01-07,...,Month_May,Month_Nov,Month_Oct,Month_Sep,Day of Week_Friday,Day of Week_Monday,Day of Week_Sunday,Day of Week_Thursday,Day of Week_Tuesday,Day of Week_Wednesday
0,3289.750000,3295.279053,3243.319092,3243.760010,109400,-1.397978,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1,3254.468018,3290.511963,3221.461914,3282.178955,126200,0.851474,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
2,3277.517090,3295.867920,3253.043945,3254.215088,123600,-0.710965,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
3,3253.990967,3268.819092,3176.707031,3192.775879,128600,-1.881231,False,False,False,True,...,False,False,False,False,False,False,False,True,False,False
4,3177.259033,3198.919922,3149.017090,3195.997070,98400,0.589755,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113404,13.080000,13.250000,12.820000,12.850000,0,-1.758406,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
113405,13.030000,13.170000,12.450000,12.460000,0,-4.374518,False,False,False,False,...,False,True,False,False,True,False,False,False,False,False
113406,13.140000,13.280000,12.640000,12.690000,0,-3.424663,False,False,False,False,...,False,True,False,False,False,True,False,False,False,False
113407,12.780000,14.300000,12.560000,12.690000,0,-0.704227,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
113408,12.710000,13.080000,12.480000,12.890000,0,1.416210,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True

In [5]:
countries = set(external_indices_df["Country"])
regions = set(global_market_df["Region"])

88

In [ ]:
#Merge market and external indices for analysis