In [1]:
import pandas as pd

In [2]:
#Read in data
pre_path = "C:\\Users\\millen11\\Dropbox\\PC\\Documents\\academia\\rpi\\classes\\fall23\\introToML\\introToMLapps\\project\\dataset\\cleaned\\"
market_path = "C:\\Users\\millen11\\Dropbox\\PC\\Documents\\academia\\rpi\\classes\\fall23\\introToML\\"

external_indices_df = pd.read_csv(pre_path + "external_indices.csv")
display(external_indices_df)
global_market_df = pd.read_csv(market_path + "market_indices.csv")
display(global_market_df)

             Country        Date   ECPI   CCPI  GSCPI      EPSI
0             Greece  2010-01-31   68.3   99.6  -0.30  6.000000
1             Greece  2010-01-31   68.3   99.6  -0.30  0.000000
2             Greece  2010-01-31   68.3   99.6  -0.30  2.000000
3             Greece  2010-01-31   68.3   99.6  -0.30  2.611111
4             Greece  2010-01-31   68.3   99.6  -0.30  5.000000
...              ...         ...    ...    ...    ...       ...
17620         Uganda  2023-03-31  132.0  126.7  -1.18  2.624270
17621         Uganda  2023-03-31  132.0  126.1  -1.18  2.624270
17622        Ukraine  2023-03-31  713.9  341.8  -1.18  2.625564
17623  United States  2023-03-31  137.6  126.1  -1.18  2.479690
17624   South Africa  2023-03-31  186.5  138.7  -1.18  1.639814

[17625 rows x 6 columns]

,Date,Open,High,Low,Close,Volume,Region,Change In Price (%),Month,Day of Week
0,2010-01-04,3289.750000,3295.279053,3243.319092,3243.760010,109400,East Asia,-1.397978,Jan,Monday
1,2010-01-05,3254.468018,3290.511963,3221.461914,3282.178955,126200,East Asia,0.851474,Jan,Tuesday
2,2010-01-06,3277.517090,3295.867920,3253.043945,3254.215088,123600,East Asia,-0.710965,Jan,Wednesday
3,2010-01-07,3253.990967,3268.819092,3176.707031,3192.775879,128600,East Asia,-1.881231,Jan,Thursday
4,2010-01-08,3177.259033,3198.919922,3149.017090,3195.997070,98400,East Asia,0.589755,Jan,Friday
...,...,...,...,...,...,...,...,...,...,...
113404,2023-11-22,13.080000,13.250000,12.820000,12.850000,0,NaN,-1.758406,Nov,Wednesday
113405,2023-11-24,13.030000,13.170000,12.450000,12.460000,0,NaN,-4.374518,Nov,Friday
113406,2023-11-27,13.140000,13.280000,12.640000,12.690000,0,NaN,-3.424663,Nov,Monday
113407,2023-11-28,12.780000,14.300000,12.560000,12.690000,0,NaN,-0.704227,Nov,Tuesday
113408,2023-11-29,12.710000,13.080000,12.480000,12.890000,0,NaN,1.416210,Nov,Wednesday

In [3]:
countries = list(set(external_indices_df["Country"]))
regions = list(set(global_market_df["Region"]))

print(countries, end = "\n\n")
print(regions)

['Sweden', 'Czech Republic', 'Malaysia', 'Sri Lanka', 'Qatar', 'Netherlands', 'Nepal', 'TÃ¼rkiye', 'Norway', 'Iran, Islamic Rep.', 'Costa Rica', 'Russia', 'Malta', 'Finland', 'Belgium', 'Nicaragua', 'Iceland', 'Trinidad and Tobago', 'Albania', 'Jordan', 'Italy', 'Serbia', 'Korea', 'Lao, PDR', 'Ireland', 'Austria', 'Spain', 'Poland', 'Nigeria', 'Kosovo', 'India', 'Chile', 'Egypt, Arab Rep.', 'Kuwait', 'Switzerland', 'Luxembourg', 'Tanzania, United Rep.', 'Hong Kong SAR, China', 'Montenegro', 'Bulgaria', 'Cyprus', 'Colombia', 'Portugal', 'Denmark', 'Iraq', 'Chad', 'Belarus', 'Croatia', 'China', 'Honduras', 'Canada', 'Lithuania', 'Slovenia', 'Brazil', 'Ukraine', 'Paraguay', 'Korea, Rep.', 'Mexico', 'El Salvador', 'Turkey', 'Mauritius', 'Moldova, Rep.', 'North Macedonia', 'Greece', 'Slovakia', 'Japan', 'Slovak Republic', 'United States', 'Uganda', 'Taiwan, China', 'Indonesia', 'Australia', 'Israel', 'Philippines', 'South Africa', 'Guatemala', 'Dominican Republic', 'Germany', 'Peru', 'Russian Federation', 'Singapore', 'United Kingdom', 'Estonia', 'Latvia', 'Hungary', "China (People's Republic of)", 'France', 'Thailand']

['Latin America', 'South & West Asia', 'ASEAN & Oceania', 'US & Canada', 'Europe', nan, 'East Asia']

In [4]:
#Country to region relationship
europe = ["Belarus", "Denmark", "Slovakia", "Finland", "Ireland", "Greece", "Albania", "Russian Federation", "Hungary", "Norway", "Estonia", "Russia", "Sweden", "Kosovo", "Slovak Republic", "Croatia", "Malta", "United Kingdom", "Belgium", "Czech Republic", "Ukraine", "Austria", "Poland", "Moldova, Rep", "Slovenia", "Singapore", "Bulgaria", "Portugal", "Iceland", "Luxembourg", "Italy", "Serbia", "Germany", "North Macedonia", "Lithuania", "Spain", "Netherlands", "France", "Montenegro", "Switzerland", "Latvia"]
asean_oceania = ["Australia", "India", "Indonesia", "Philippines", "Nepal", "Malaysia", "Lao, PDR", "Thailand", "Sri Lanka"]
east_asia = ["China", "Hong Kong SAR, China", "Korea", "Korea, Rep.", "Taiwan, China", "Japan", "China (People's Republic of)"]
us_canada = ["United States", "Canada"]
latin_america = ["Guatemala", "Paraguay", "Costa Rica", "Chile", "Dominican Republic", "Brazil", "Honduras", "Peru", "Nicaragua", "Trinidad and Tobago", "El Salvador", "Mexico", "Colombia"] #Latin America & Carribean
south_west_asia = ["TÃ¼rkiye", "Kuwait", "Qatar"]
nan = ["South Africa", "Israel", "Jordan", "Egypt", "Arab Rep.", "Turkey", "Nigeria", "Tanzania, United Rep.", "Cyprus", "Mauritius", "Chad", "Iran, Islamic Rep.", "Iraq", "Uganda"] #nan will represent Middle Easr & Africa

country_region = {"ASEAN & Oceania":asean_oceania, "nan": nan, "Europe": europe, "East Asia": east_asia, "US & Canada": us_canada, "Latin America": latin_america, "South & West Asia": south_west_asia}

In [5]:
#Merge market and external indices for analysis
market_external_df = pd.merge(global_market_df, external_indices_df, on = "Date", how = "inner")
display(market_external_df)

,Date,Open,High,Low,Close,Volume,Region,Change In Price (%),Month,Day of Week,Country,ECPI,CCPI,GSCPI,EPSI
0,2010-03-31,3129.573975,3130.112061,3101.756104,3109.104980,101200,East Asia,-0.654050,Mar,Wednesday,Austria,93.8,90.2,0.39,2.725238
1,2010-03-31,3129.573975,3130.112061,3101.756104,3109.104980,101200,East Asia,-0.654050,Mar,Wednesday,Belgium,92.1,91.6,0.39,2.701171
2,2010-03-31,3129.573975,3130.112061,3101.756104,3109.104980,101200,East Asia,-0.654050,Mar,Wednesday,Bulgaria,12557.1,96.2,0.39,2.638640
3,2010-03-31,3129.573975,3130.112061,3101.756104,3109.104980,101200,East Asia,-0.654050,Mar,Wednesday,Belarus,12.4,98.5,0.39,2.633433
4,2010-03-31,3129.573975,3130.112061,3101.756104,3109.104980,101200,East Asia,-0.654050,Mar,Wednesday,Brazil,72.7,5570363.6,0.39,1.112929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394369,2022-07-31,2007.459961,2016.790039,2006.040039,2012.199951,45498400,South & West Asia,0.236119,Jul,Sunday,Uganda,137.9,121.9,1.78,2.613156
394370,2022-07-31,2007.459961,2016.790039,2006.040039,2012.199951,45498400,South & West Asia,0.236119,Jul,Sunday,Ukraine,697.0,308.3,1.78,2.614502
394371,2022-07-31,2007.459961,2016.790039,2006.040039,2012.199951,45498400,South & West Asia,0.236119,Jul,Sunday,United States,160.4,122.0,1.78,2.468536
394372,2022-07-31,2007.459961,2016.790039,2006.040039,2012.199951,45498400,South & West Asia,0.236119,Jul,Sunday,Kosovo,112.2,121.1,1.78,2.607859
394373,2022-07-31,2007.459961,2016.790039,2006.040039,2012.199951,45498400,South & West Asia,0.236119,Jul,Sunday,South Africa,202.8,134.1,1.78,1.628675

In [6]:
#One hot encoding
encoded_market_external_df = pd.get_dummies(market_external_df)
display(encoded_market_external_df)

,Open,High,Low,Close,Volume,Change In Price (%),ECPI,CCPI,GSCPI,EPSI,...,"Country_Taiwan, China","Country_Tanzania, United Rep.",Country_Thailand,Country_Trinidad and Tobago,Country_Turkey,Country_TÃ¼rkiye,Country_Uganda,Country_Ukraine,Country_United Kingdom,Country_United States
0,3129.573975,3130.112061,3101.756104,3109.104980,101200,-0.654050,93.8,90.2,0.39,2.725238,...,False,False,False,False,False,False,False,False,False,False
1,3129.573975,3130.112061,3101.756104,3109.104980,101200,-0.654050,92.1,91.6,0.39,2.701171,...,False,False,False,False,False,False,False,False,False,False
2,3129.573975,3130.112061,3101.756104,3109.104980,101200,-0.654050,12557.1,96.2,0.39,2.638640,...,False,False,False,False,False,False,False,False,False,False
3,3129.573975,3130.112061,3101.756104,3109.104980,101200,-0.654050,12.4,98.5,0.39,2.633433,...,False,False,False,False,False,False,False,False,False,False
4,3129.573975,3130.112061,3101.756104,3109.104980,101200,-0.654050,72.7,5570363.6,0.39,1.112929,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394369,2007.459961,2016.790039,2006.040039,2012.199951,45498400,0.236119,137.9,121.9,1.78,2.613156,...,False,False,False,False,False,False,True,False,False,False
394370,2007.459961,2016.790039,2006.040039,2012.199951,45498400,0.236119,697.0,308.3,1.78,2.614502,...,False,False,False,False,False,False,False,True,False,False
394371,2007.459961,2016.790039,2006.040039,2012.199951,45498400,0.236119,160.4,122.0,1.78,2.468536,...,False,False,False,False,False,False,False,False,False,True
394372,2007.459961,2016.790039,2006.040039,2012.199951,45498400,0.236119,112.2,121.1,1.78,2.607859,...,False,False,False,False,False,False,False,False,False,False
394373,2007.459961,2016.790039,2006.040039,2012.199951,45498400,0.236119,202.8,134.1,1.78,1.628675,...,False,False,False,False,False,False,False,False,False,False

In [7]:
cutoff = 1000 #Search endlessly for what could be considered the largest recorded value of CCPI/ECPI ever or of the last 10 years and found nothing. 1000 is arbitrarily chosen and still more than likely incredibly large, but I want to see if I can maintain some data integrity here
encoded_market_external_df = encoded_market_external_df.loc[((encoded_market_external_df["CCPI"] <= cutoff) & (encoded_market_external_df["ECPI"] <= cutoff))]
display(encoded_market_external_df)

,Open,High,Low,Close,Volume,Change In Price (%),ECPI,CCPI,GSCPI,EPSI,...,"Country_Taiwan, China","Country_Tanzania, United Rep.",Country_Thailand,Country_Trinidad and Tobago,Country_Turkey,Country_TÃ¼rkiye,Country_Uganda,Country_Ukraine,Country_United Kingdom,Country_United States
0,3129.573975,3130.112061,3101.756104,3109.104980,101200,-0.654050,93.8,90.2,0.39,2.725238,...,False,False,False,False,False,False,False,False,False,False
1,3129.573975,3130.112061,3101.756104,3109.104980,101200,-0.654050,92.1,91.6,0.39,2.701171,...,False,False,False,False,False,False,False,False,False,False
3,3129.573975,3130.112061,3101.756104,3109.104980,101200,-0.654050,12.4,98.5,0.39,2.633433,...,False,False,False,False,False,False,False,False,False,False
6,3129.573975,3130.112061,3101.756104,3109.104980,101200,-0.654050,90.0,91.9,0.39,2.588454,...,False,False,False,False,False,False,False,False,False,False
7,3129.573975,3130.112061,3101.756104,3109.104980,101200,-0.654050,104.4,101.4,0.39,3.141094,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394369,2007.459961,2016.790039,2006.040039,2012.199951,45498400,0.236119,137.9,121.9,1.78,2.613156,...,False,False,False,False,False,False,True,False,False,False
394370,2007.459961,2016.790039,2006.040039,2012.199951,45498400,0.236119,697.0,308.3,1.78,2.614502,...,False,False,False,False,False,False,False,True,False,False
394371,2007.459961,2016.790039,2006.040039,2012.199951,45498400,0.236119,160.4,122.0,1.78,2.468536,...,False,False,False,False,False,False,False,False,False,True
394372,2007.459961,2016.790039,2006.040039,2012.199951,45498400,0.236119,112.2,121.1,1.78,2.607859,...,False,False,False,False,False,False,False,False,False,False
394373,2007.459961,2016.790039,2006.040039,2012.199951,45498400,0.236119,202.8,134.1,1.78,1.628675,...,False,False,False,False,False,False,False,False,False,False

In [8]:
encoded_market_external_df.to_csv(market_path + "global_socieoeconomic_df.csv", index = False)